---
import Layout from '../../layouts/Layout.astro';
import Card from '../../components/Card.astro';
---

<Layout title="AI | jhangmez" >
	<main >
		<h1 class="text-4xl font-semibold text-light-onPrimaryContainer dark:text-dark-onPrimaryContainer">Welcome to <span class="text-light-surfaceTint">AI page</span> by jhangmez</h1>

	</main>
</Layout>