<div
  class="absolute top-0 z-[-2] h-screen w-full bg-white
  bg-[radial-gradient(100%_50%_at_50%_0%,rgba(26,108,48,0.13)_0,rgba(26,108,48,0)_50%,rgba(26,108,48,0)_100%)]
  dark:bg-[radial-gradient(100%_50%_at_50%_0%,rgba(169,251,175,0.13)_0,rgba(169,251,175,0)_50%,rgba(169,251,175,0)_100%)]"
>
</div>